<div class="topnav">
  <h2>Best Book!</h2>
  <div id="myLinks">
    <a href="/">Home</a>
    <a href="/searches/new">Search for google books API</a>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <!-- <i class="fa fa-bars"></i> -->
    <img class="imgnav" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png"/>
  </a>
</div>